# Ignore compiled Python files
*.pyc

# Ignore the build directory
/build/
*/__pycache__/
__pycache__/

/experiments/
.vscode/
.idea/

*.pickle
*.pkl
*.csv
*.h5


/gearformer_model/log.txt

*.png
*.pdf
