numpy==1.26.4
pillow==9.4.0
torch
torchaudio
torchvision
dymos==1.5.0
einops==0.8.0
matplotlib==3.5.0
openmdao==3.34.2
packaging==24.0
pandas==2.2.2
scipy==1.13.1
tqdm==4.66.4
x-transformers==1.30.11
scikit-learn
